* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* height: 100%; */
}

#IDselect {
    position: relative;
    /* top: 40px; */
}

#whiteboard, #tempwhiteboard{
    border: 2px solid black;
    cursor: crosshair;
    position: fixed;
}